ansi2html==1.8.0
blinker
certifi==2023.11.17
charset-normalizer
click
colorama
dash==2.14.1
dash-bootstrap-components==1.5.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-renderer==1.9.1
dash-table==5.0.0
Flask
idna
importlib-metadata
itsdangerous
Jinja2
MarkupSafe
nest-asyncio
#numpy
packaging
pandas
plotly
python-dateutil
pytz
requests
retrying
six
tenacity
typing_extensions
tzdata
urllib3
#Werkzeug
#zipp
gunicorn
